<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/email.png"
            level-id="email"
            locked="true"
            name="EMail Processing"
            path="/labs/">
      </category>
   </extension>
    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/labs/email"
            factory-class="org.knime.email.nodes.reader.EmailReaderNodeFactory" />
        <node category-path="/labs/email"
            factory-class="org.knime.email.nodes.sender.EmailSenderNodeFactory" />
        <node category-path="/labs/email"
            factory-class="org.knime.email.nodes.connector.EmailConnectorNodeFactory" />
        <node category-path="/labs/email"
            factory-class="org.knime.email.nodes.mover.EmailMoverNodeFactory" />
        <node category-path="/labs/email"
            factory-class="org.knime.ext.google.gmail.connector.GmailConnectorNodeFactory" 
            hidden="true"/>
        <node category-path="/labs/email"
            factory-class="org.knime.ext.exchange.connector.MicrosoftExchangeConnectorNodeFactory" />
    </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#7A9E9F"
            hidden="false"
            name="Email Session"
            objectClass="org.knime.email.port.EmailSessionPortObject"
            objectSerializer="org.knime.email.port.EmailSessionPortObject$Serializer"
            specClass="org.knime.email.port.EmailSessionPortObjectSpec"
            specSerializer="org.knime.email.port.EmailSessionPortObjectSpec$Serializer">
      </portType>
   </extension>
   <!--
   Disabled as per comment in AP-19581 - the gmail scope is currently (2025-07) not part of the knime-ap-oauth app 
   (see google cloud console), so it will only work for the first 100 or so users.
   <extension
         point="org.knime.google.api.knimeGoogleAuthScope">
      <KnimeGoogleAuthScope
            KnimeGoogleAuthScope="org.knime.ext.google.gmail.connector.GMailAuthScope$ExecutableExtensionFactory">
      </KnimeGoogleAuthScope>
   </extension>
   -->
</plugin>
